%hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    margin-bottom: 50px;
    }

.hero {
    background-image: url(./imgs/banner-principal.jpg);
    @extend %hero;

    

    &--ClasesRegulares {
        background-image: url(./imgs/clases-especiales.jpg);
            @extend %hero;
        }

    &--Viajes {
        background-image: url(./imgs/viajes.jpg);
        @extend %hero;
    }
        

    &--ClasesEspeciales {
    background-image: url(./imgs/clases-online.jpg);
        @extend %hero;}

    &--Contacto {
    background-image: url(./imgs/contact.jpg);
    @extend %hero;}

    &--Inscripcion {
    background-image: url(./imgs/welcome.jpg);
    @extend %hero;
}

    h2 {
        font-size: 40px;
     color: azure;
     padding: 300px 0px 20px 50px; 
    }
    }

